---
title: Bactopia Tools
description: All available Bactopia Tool workflows
sidebar_position: 2
---

# Bactopia Tools

Bactopia Tools are additional analysis workflows that run specific tools on existing Bactopia results. There are {{ total }} Bactopia Tools available.

| Workflow | Status | Description |
|----------|--------|-------------|
{% for key in tools_keys %}
| [{{ key }}](/workflows/bactopia-tools/{{ key }}) | {{ tools[key].status | default('') }} | {{ tools[key].summary }} |
{% endfor %}
