---
title: Citations
description: Papers that have cited Bactopia
sidebar_position: 3
---

# Citations

Since its launch in 2019, Bactopia has seen significant academic usage, being cited in
at least {{ total }} scholarly publications. We are excited to see Bactopia being used
by the community and hope that it continues to be a valuable tool for researchers.

:::info[Total citations might be out of date]
The citations below were retrieved from [OpenAlex](https://api.openalex.org/works?filter=cites:W3046929726)
and are updated regularly, but not daily.
:::

{% for citation in citations %}
{{ loop.revindex }}: {{ citation.authors }} [{{ citation.title }}]({{ citation.url }}) *{{ citation.journal }}* ({{ citation.year }}).

{% endfor %}
