# pip install pygments mkdocs-material pymdown-extensions
site_name: Bactopia
site_author: Robert A. Petit III
site_description: An extensive workflow to process Nanopore and Illumina sequencing for bacterial genomes.
copyright: "Copyright © 2019-2021 Robert A. Petit III. All rights reserved."

site_url: https://bactopia.github.io/
repo_url: https://github.com/bactopia/bactopia
dev_addr: 0.0.0.0:8000

theme:
  name: material
  custom_dir: overrides
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - scheme: slate
      primary: red
      accent: red
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  font:
    text: 'Ubuntu'
    code: 'Ubuntu Mono'
  features:
    - navigation.tabs
    - navigation.tabs.sticky

extra:
  analytics:
    provider: google
    property: UA-104199698-2
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/bactopia/bactopia
    - icon: fontawesome/brands/gitter
      link: https://gitter.im/bactopia/Lobby
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/r/bactopia/bactopia
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/rpetit3

extra_css:
  - custom/magnific-popup.css
  - custom/extra.css

extra_javascript:
  - custom/jquery.min.js
  - custom/jquery.magnific-popup.min.js
  - custom/extra.js

markdown_extensions:
  - admonition
  - abbr
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid-experimental
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

nav:
  - 'Bactopia':
    - 'Introduction': 'index.md'
    - 'Quick Start': 'quick-start.md'
    - 'Installation': 'installation.md'
    - 'Tutorial': 'tutorial.md'
    - 'Build Datasets': 'datasets.md'
    - 'Basic Usage': 'usage-basic.md'
    - 'Workflow Overview': 'workflow-overview.md'
    - 'Output Overview': 'output-overview.md'
    - 'Complete Usage': 'usage-complete.md'
    - 'Troubleshooting': 'troubleshooting.md'
    - 'Presentations': 'presentations.md'
    - 'Enhancements to OSS': 'enhancements.md'
    - 'Acknowledgements': 'acknowledgements.md'
    - 'Changelog': 'changelog.md'
  - 'Bactopia Tools':
    - 'Introduction': 'bactopia-tools/index.md'
    - 'Subworkflows':
{%- for tool in tools | sort -%}
    {% if tools[tool].is_subworkflow == True %}
      - '{{ tool }}': 'bactopia-tools/{{ tool }}.md'
    {%- endif -%}  
{% endfor %}
    - 'Modules':
{%- for tool in tools | sort -%}
    {% if tools[tool].is_module == True %}
      - '{{ tool }}': 'bactopia-tools/{{ tool }}.md'
    {%- endif -%}  
{% endfor %}

