# pip install pygments mkdocs-material pymdown-extensions
site_name: Bactopia
site_author: Robert A. Petit III
site_description: An extensive workflow to process Nanopore and Illumina sequencing for bacterial genomes.
copyright: >
  Copyright © 2019-2024 Robert A. Petit III. All rights reserved. <a href="#__consent">Change Cookie Settings</a>

site_url: https://bactopia.github.io/
repo_url: https://github.com/bactopia/bactopia
dev_addr: 0.0.0.0:8000

theme:
  name: material
  custom_dir: overrides
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      accent: teal
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep purple
      accent: deep purple
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  favicon: assets/favicon.ico
  logo: assets/bactopia-small-logo.png
  font:
    text: 'Ubuntu'
    code: 'Ubuntu Mono'
  features:
    - announce.dismiss
    - content.action.edit
    - content.code.copy
    - navigation.footer
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.tracking
    - navigation.top

plugins:
  - blog:
      archive: false
      post_date_format: medium
      post_url_date_format: yyyy
      post_excerpt: optional
  - privacy
  - search:
      lang: en
  - social:
      enabled: true
      cache: true
      cards: true

extra:
  analytics:
    provider: google
    property: G-QH76FN9N78
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/bactopia/bactopia
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/rpetit3
  version:
    provider: mike
  consent:
    title: Cookie Consent
    description: >- 
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.

extra_css:
  - custom/magnific-popup.css
  - custom/extra.css

extra_javascript:
  - custom/fontawesome.js
  - custom/jquery.min.js
  - custom/jquery.magnific-popup.min.js
  - custom/extra.js

markdown_extensions:
  - admonition
  - abbr
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid-experimental
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

nav:
  - 'Bactopia':
    - 'Introduction': 'index.md'
    - 'Quick Start': 'quick-start.md'
    - 'Installation': 'installation.md'
    - "Beginner's Guide": 'beginners-guide.md'
    - 'Tutorial': 'tutorial.md'
    - 'Workflow Steps':
        - 'Gather': 'bactopia/gather.md'
        - 'QC': 'bactopia/qc.md'
        - 'Assembler': 'bactopia/assembler.md'
        - 'Annotator':
            - 'Prokka': 'bactopia/annotator/prokka.md'
            - 'Bakta': 'bactopia/annotator/bakta.md'
        - 'Sketcher': 'bactopia/sketcher.md'
        - 'Sequence Typing': 'bactopia/sequence-typing/mlst.md'
        - 'Antimicrobial Resistance': 'bactopia/antimicrobial-resistance/amrfinderplus.md'
        - 'Merlin': 'bactopia/merlin.md'
    - 'Full Guide': 'full-guide.md'
#    - 'Troubleshooting': 'troubleshooting.md'
    - 'Changelog': 'changelog.md'
  - 'Bactopia Tools':
    - 'Introduction': 'bactopia-tools/index.md'
    - 'Subworkflows':
{%- for tool in tools | sort -%}
    {% if tools[tool].is_subworkflow == True %}
      - '{{ tool }}': 'bactopia-tools/{{ tool }}.md'
    {%- endif -%}  
{% endfor %}
    - 'Modules':
{%- for tool in tools | sort -%}
    {% if tools[tool].is_module == True %}
      - '{{ tool }}': 'bactopia-tools/{{ tool }}.md'
    {%- endif -%}  
{% endfor %}
#  - 'More Workflows':
#    - 'Introduction': 'workflows/index.md'
#    - 'Clean-Yer-Reads': 'workflows/clean-yer-reads.md'
#    - 'Staphopia': 'workflows/staphopia.md'
#    - 'Teton': 'workflows/teton.md'
#  - 'Tutorials': 'tutorial.md'
  - 'Impact & Outreach':
    - 'Impact ': 'impact-and-outreach/index.md'
    - 'Acknowledgements': 'impact-and-outreach/acknowledgements.md'
    - 'Citations': 'impact-and-outreach/citations.md'
    - 'Enhancements to OSS': 'impact-and-outreach/enhancements.md'
    - 'Presentations': 'impact-and-outreach/presentations.md'
  - Blog:
    - blog/index.md
