---
title: Modules
description: All available Bactopia modules
slug: /modules
---

# Modules

Bactopia includes {{ total }} modules -- individual processes that perform specific analysis tasks. You can also [browse by tag](/developers/tags).

| Module | Description |
|--------|-------------|
{% for key in sorted_keys %}
{% set mod = modules[key] %}
| [{{ key }}](/developers/modules/{{ key }}) | {{ mod.summary }} |
{% endfor %}
